@media screen and (max-width: 2000px){

    
}

@media screen and (max-width: 1400px){
    #hero{
        height: 83vh;
    }
    
}

@media screen and (max-width: 1350px){

   #hero,.section-container{
    display:block;

   }

   .icon-arrow{
    display: none;
   }

   section,.section-container{
    height: fit-content;
   }

   section{
    margin: 0 5%;
   }

   #experience{
    padding-top: 0vh;
}

   .section__pic-container{
    width: 275;
    height: 275;
    margin: 0 auto 2rem;
    width: auto;
    justify-content: center;
   }

   .about-containers{
    margin-top: 0;
   }
}

@media screen and (max-width: 600px){
    #contact,
    footer{
        height:40vh;
    }
    #hero{
        height:83vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap:wrap;
    }

    .contact-info-container{
        margin:0;
    }

    .contact-info-container p, .nav-links li a{
        font-size: 1rem;

    }

    .experience-sub-title{
        font-size: 1.25rem;
    }

    .about-containers{
        flex-direction: column;
        text-align: center;

    }

    .brand{
        font-size: 1.5rem;
    }

    .nav-links{
        flex-direction: column;
        gap:.5rem;
        text-align: center;
    }

    .section__pic-container{
        width: auto;
        height: 46vh;
        justify-content: center;
    }

    .section__text___p2{
        font-size: 1.25rem;
    }

    .title{
        font-size: 3rem;
    }

    .text-container{
        text-align: justify;
    }



}