:root{
    --bs-body-font-family: "Bodoni Moda", serif;
    
}

*{
    padding: 0;
    margin-right: 0;
}

html{
    scrollbar-width: 9px;
}
 /* TRANSITION */

 a,
.btn{
    transform: all 300ms ease;

}


/* NAV DESKTOP*/

nav,
.nav-links{
    color: rgb(212, 158, 167);
}

.navbar{
    padding: 1rem;
}


.nav-link{
    color: pink;
    --bs-link-color: rgb(216, 104, 123);
    --bs-nav-link-hover-color:rgb(216, 104, 123);
    font-size: 1.1rem;
    justify-content: right;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(216, 104, 123)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse{
    justify-content: right;
    padding: 12px;
}

/* LOGO DESKTOP*/

.navbar-brand{
    font-size: 2rem;
    color: pink;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
    cursor: default;
    --bs-navbar-brand-hover-color:rgb(216, 104, 123) !important;
}


/* NAV MOBILE*/

.navbar-toggler{
    color:pink;
    border: var(--bs-border-width) solid pink;
}

/* SECTIONS */

section{
    height: 106vh;
    margin: 0 10rem;
    box-sizing: border-box ;
    min-height: fit-content;
    padding-bottom: 5rem;
}

/* PROFILE SECTION */

#hero{
    display:flex;
    justify-content: center;
    height: 83vh;
    margin-bottom: 0;
    gap: 5rem;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    
}


.section__text{
    align-self: center;
    text-align: center;

 }

.section__text p{
    font-weight: 600;

}

.section__text__p1{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;

}

.section__text__p2{
    font-size: 2rem;
}

.title{
    font-size: 6rem;
    text-align: center;
    font-family:"Ballet", cursive !important;
    color:rgb(216, 104, 123);
    scrollbar-highlight-color: black;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

}

/* ICONS */

.icon{
    cursor:pointer;
    height: 2rem;
}

/* BUTTONS */

 .btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 700;
    padding: .4rem;
    width: 10rem;
    border-radius: 2rem;
}

.btn-secondary{
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-color:#6c757d;

}

/* ABOUT SECTION */

#about{
    position: relative;
}

.section-container{
    display: flex;
    gap: 4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto;
}

.about-containers{
    gap: 2rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.about-details-container{
    flex-direction: column;
}

.about-containers,.about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
}

.icon-arrow{
    position: absolute;
    right: -5rem; 
    top: 53rem;
    cursor: pointer;
}

.details-container{
    padding: 1rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: 0.1rem solid;
    border-color: pink;
    text-align: center;
}

/* .details-container:hover {
    transform: rotate(-2deg);
    } */

.text-container{
    font-size: 16px;
    padding: 1rem;
}

/* EXPERIENCE SECTION */

#experience{
    position: relative;
    padding-top: 30vh;

}

.experience-sub-title{
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

/* PROJECTS SECTION */

#projects{
    position: relative;
}

.color-container{
    border-color: rgb(163,163,163);
    background-color: transparent;
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%; 

}
 

.project-title{
    margin:1rem;
    color:#6c757d;

}

.project-btn{
    color:black;
    border-color:  rgb(163,163,163);
}

.project-btn:hover{
    background-color:rgb(163,163,163);
    color:rgb(255, 255, 255);
}

/* CONTACT PAGE */

#contacts{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display:flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(212, 158, 167) 0.1rem solid;
    border-color: rgb(212, 158, 167);
    background: transparent;
    margin: 2rem auto;
    padding: 0.5rem;

}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
    color: rgb(85,85,85);
    position:relative;
    margin: 1rem;
    
}

.contact-icon{
    cursor:default;
    height: 2.3rem;
}

a{
    color: #212529;
    text-decoration: none;
}

.contact-info-container p::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(212, 158, 167);
    transition: width .2s;
}

.contact-info-container p:hover:after{
    width:100%;
}

/* FOOTER SECTION */

footer{
    height: 26vh;
    margin: 0 1rem;

}

footer p, footer .navbar{
    text-align: center;
    display: flex;
    flex-direction: column;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-50%);
    transition: all 1.5s;

}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translatex(0);
}

@media(perfers-reduced-motion){
    .hidden{
        transition: none;
    }
}


 








